In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
employees=pd.read_csv('final-employee-ds.csv')
employees.head()

,EmployeeID,Name,Age,Gender,Department,ExperienceYears,Salary,WorkHoursPerWeek,PerformanceScore,JoinDate,Tshirt_size,ProjectCount,TrainingHours,DepartmentRating
0,101,Employee_1,50,Male,IT,17,86175.0,44,71,2010-01-10,L,2,4,1
1,102,Employee_2,36,Male,Finance,1,47805.0,44,68,2017-11-11,S,4,18,4
2,103,Employee_3,29,Male,Marketing,16,45237.0,44,69,2012-03-08,S,6,13,3
3,104,Employee_4,42,Male,Marketing,12,60056.0,48,76,2012-10-12,M,2,25,4
4,105,Employee_5,40,Female,Finance,19,85543.0,36,97,2014-12-30,XL,8,3,4

## Q1) Load the TrainingHours column into a NumPy array.

*   Convert to float datatype
*   Find mean & standard deviation

**Solution:**

In [3]:
employees.head()
training_hours=employees['TrainingHours'].values

training_hours=training_hours.astype(float)
mean=training_hours.mean()
std=training_hours.std()
print("Mean:",mean)
print("Standard Deviation:",std)
#

Mean: 24.19
Standard Deviation: 13.842467265628624