## filtering based on string

In [6]:
import pandas as pd

data={
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva","Rahim","Karim","hola"],
    "City": ["New York", "Los Angeles", "Chicago new", "Houston", "Phoenix","Dhaka","Cumilla","Ne Los Angeles"],
    "Department":["HR", "Finance", "IT", "Marketing", "Sales","Sales","marketing","Hola"],
    "Salary":[70000, 80000, 90000, 75000, 85000,20000,22000,5000]
}

df=pd.DataFrame(data)

newCity=df.loc[df['City'].str.contains("New",case=False)]
print(df,"\n")
print(newCity)

      Name            City Department  Salary
0    Alice        New York         HR   70000
1      Bob     Los Angeles    Finance   80000
2  Charlie     Chicago new         IT   90000
3    David         Houston  Marketing   75000
4      Eva         Phoenix      Sales   85000
5    Rahim           Dhaka      Sales   20000
6    Karim         Cumilla  marketing   22000
7     hola  Ne Los Angeles       Hola    5000

      Name         City Department  Salary
0    Alice     New York         HR   70000
2  Charlie  Chicago new         IT   90000

In [21]:
# starts with los


just_los=df.loc[df['City'].str.contains(r"^Los")]
# print("\n",just_los)
just_los

  Name         City Department  Salary
1  Bob  Los Angeles    Finance   80000

In [ ]:
#end with rk

end_with_rk=df.loc[df['City'].str.contains(r"rk$")]
print("\n",end_with_rk)

In [7]:
# Name Starts with vowels

print(df.loc[df["Name"].str.contains(r"[AEIOU]")])

    Name      City Department  Salary
0  Alice  New York         HR   70000
4    Eva   Phoenix      Sales   85000

## Adding New COlumn

In [17]:
from IPython.display import display

df=pd.read_csv(('student_modified.csv'))
display(df)

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Data Structure Marks,Python Marks,Algorithm Marks
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,85.0,88.0,NaN
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,78.0,NaN,83.0
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,90.0,85.0,88.0
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,NaN,80.0,82.0
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,67.0,72.0,70.0
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,88.0,91.0,NaN
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,NaN,77.0,NaN
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,NaN,79.0,76.0
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,92.0,NaN,93.0
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,89.0,NaN,84.0
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,NaN,84.0,85.0
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,77.0,80.0,81.0
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,80.0,83.0,NaN
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,91.0,92.0,94.0
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,93.0,89.0,90.0
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,70.0,74.0,73.0
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,66.0,70.0,68.0
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,84.0,87.0,86.0
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,82.0,88.0,84.0
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,75.0,NaN,77.0

In [18]:
#adding new column with constant value
df['Country']='Bangladesh'
df

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Data Structure Marks,Python Marks,Algorithm Marks,Country
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,85.0,88.0,NaN,Bangladesh
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,78.0,NaN,83.0,Bangladesh
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,90.0,85.0,88.0,Bangladesh
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,NaN,80.0,82.0,Bangladesh
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,67.0,72.0,70.0,Bangladesh
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,88.0,91.0,NaN,Bangladesh
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,NaN,77.0,NaN,Bangladesh
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,NaN,79.0,76.0,Bangladesh
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,92.0,NaN,93.0,Bangladesh
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,89.0,NaN,84.0,Bangladesh
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,NaN,84.0,85.0,Bangladesh
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,77.0,80.0,81.0,Bangladesh
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,80.0,83.0,NaN,Bangladesh
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,91.0,92.0,94.0,Bangladesh
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,93.0,89.0,90.0,Bangladesh
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,70.0,74.0,73.0,Bangladesh
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,66.0,70.0,68.0,Bangladesh
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,84.0,87.0,86.0,Bangladesh
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,82.0,88.0,84.0,Bangladesh
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,75.0,NaN,77.0,Bangladesh

In [19]:
df['Total Mark']=df['Data Structure Marks']+df['Algorithm Marks']
df

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Data Structure Marks,Python Marks,Algorithm Marks,Country,Total Mark
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,85.0,88.0,NaN,Bangladesh,NaN
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,78.0,NaN,83.0,Bangladesh,161.0
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,90.0,85.0,88.0,Bangladesh,178.0
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,NaN,80.0,82.0,Bangladesh,NaN
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,67.0,72.0,70.0,Bangladesh,137.0
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,88.0,91.0,NaN,Bangladesh,NaN
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,NaN,77.0,NaN,Bangladesh,NaN
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,NaN,79.0,76.0,Bangladesh,NaN
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,92.0,NaN,93.0,Bangladesh,185.0
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,89.0,NaN,84.0,Bangladesh,173.0
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,NaN,84.0,85.0,Bangladesh,NaN
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,77.0,80.0,81.0,Bangladesh,158.0
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,80.0,83.0,NaN,Bangladesh,NaN
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,91.0,92.0,94.0,Bangladesh,185.0
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,93.0,89.0,90.0,Bangladesh,183.0
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,70.0,74.0,73.0,Bangladesh,143.0
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,66.0,70.0,68.0,Bangladesh,134.0
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,84.0,87.0,86.0,Bangladesh,170.0
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,82.0,88.0,84.0,Bangladesh,166.0
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,75.0,NaN,77.0,Bangladesh,152.0

In [23]:
import numpy as np

df["A+ in Data Structure"]=np.where(df['Data Structure Marks']>90,"A+","A")
df

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Data Structure Marks,Python Marks,Algorithm Marks,Country,Total Mark,A+ in Data Structure
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,85.0,88.0,NaN,Bangladesh,NaN,A
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,78.0,NaN,83.0,Bangladesh,161.0,A
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,90.0,85.0,88.0,Bangladesh,178.0,A
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,NaN,80.0,82.0,Bangladesh,NaN,A
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,67.0,72.0,70.0,Bangladesh,137.0,A
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,88.0,91.0,NaN,Bangladesh,NaN,A
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,NaN,77.0,NaN,Bangladesh,NaN,A
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,NaN,79.0,76.0,Bangladesh,NaN,A
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,92.0,NaN,93.0,Bangladesh,185.0,A+
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,89.0,NaN,84.0,Bangladesh,173.0,A
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,NaN,84.0,85.0,Bangladesh,NaN,A
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,77.0,80.0,81.0,Bangladesh,158.0,A
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,80.0,83.0,NaN,Bangladesh,NaN,A
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,91.0,92.0,94.0,Bangladesh,185.0,A+
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,93.0,89.0,90.0,Bangladesh,183.0,A+
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,70.0,74.0,73.0,Bangladesh,143.0,A
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,66.0,70.0,68.0,Bangladesh,134.0,A
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,84.0,87.0,86.0,Bangladesh,170.0,A
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,82.0,88.0,84.0,Bangladesh,166.0,A
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,75.0,NaN,77.0,Bangladesh,152.0,A

In [24]:
df["Passed in DS"]=df['Data Structure Marks']>70
df

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Data Structure Marks,Python Marks,Algorithm Marks,Country,Total Mark,A+ in Data Structure,Passed in DS
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,85.0,88.0,NaN,Bangladesh,NaN,A,True
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,78.0,NaN,83.0,Bangladesh,161.0,A,True
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,90.0,85.0,88.0,Bangladesh,178.0,A,True
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,NaN,80.0,82.0,Bangladesh,NaN,A,False
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,67.0,72.0,70.0,Bangladesh,137.0,A,False
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,88.0,91.0,NaN,Bangladesh,NaN,A,True
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,NaN,77.0,NaN,Bangladesh,NaN,A,False
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,NaN,79.0,76.0,Bangladesh,NaN,A,False
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,92.0,NaN,93.0,Bangladesh,185.0,A+,True
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,89.0,NaN,84.0,Bangladesh,173.0,A,True
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,NaN,84.0,85.0,Bangladesh,NaN,A,False
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,77.0,80.0,81.0,Bangladesh,158.0,A,True
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,80.0,83.0,NaN,Bangladesh,NaN,A,True
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,91.0,92.0,94.0,Bangladesh,185.0,A+,True
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,93.0,89.0,90.0,Bangladesh,183.0,A+,True
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,70.0,74.0,73.0,Bangladesh,143.0,A,False
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,66.0,70.0,68.0,Bangladesh,134.0,A,False
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,84.0,87.0,86.0,Bangladesh,170.0,A,True
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,82.0,88.0,84.0,Bangladesh,166.0,A,True
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,75.0,NaN,77.0,Bangladesh,152.0,A,True

In [25]:
df["First Name"]=df["FullName"].str.split().str[0]
df

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Data Structure Marks,Python Marks,Algorithm Marks,Country,Total Mark,A+ in Data Structure,Passed in DS,First Name
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,85.0,88.0,NaN,Bangladesh,NaN,A,True,Alif
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,78.0,NaN,83.0,Bangladesh,161.0,A,True,Fatima
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,90.0,85.0,88.0,Bangladesh,178.0,A,True,Imran
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,NaN,80.0,82.0,Bangladesh,NaN,A,False,Jannatul
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,67.0,72.0,70.0,Bangladesh,137.0,A,False,Kamal
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,88.0,91.0,NaN,Bangladesh,NaN,A,True,Laila
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,NaN,77.0,NaN,Bangladesh,NaN,A,False,Mahmudul
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,NaN,79.0,76.0,Bangladesh,NaN,A,False,Nadia
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,92.0,NaN,93.0,Bangladesh,185.0,A+,True,Omar
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,89.0,NaN,84.0,Bangladesh,173.0,A,True,Priya
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,NaN,84.0,85.0,Bangladesh,NaN,A,False,Rahim
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,77.0,80.0,81.0,Bangladesh,158.0,A,True,Sadia
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,80.0,83.0,NaN,Bangladesh,NaN,A,True,Tanvir
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,91.0,92.0,94.0,Bangladesh,185.0,A+,True,Urmi
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,93.0,89.0,90.0,Bangladesh,183.0,A+,True,Wahiduzzaman
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,70.0,74.0,73.0,Bangladesh,143.0,A,False,Ziaur
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,66.0,70.0,68.0,Bangladesh,134.0,A,False,Afsana
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,84.0,87.0,86.0,Bangladesh,170.0,A,True,Babul
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,82.0,88.0,84.0,Bangladesh,166.0,A,True,Faria
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,75.0,NaN,77.0,Bangladesh,152.0,A,True,Tariq

In [26]:
df.to_csv(('new_data.csv'))