### Email Address: ```shahbazkamal84@gmail.com```

In [5]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")
print(DF)

Sample Data Created and Saved as employees.csv
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   89735  Finance
7   8   40   86101       IT
8   9   28   32433    Sales
9  10   28   35311       HR

### Answer to Q1:

In [17]:
salaries=DF["salary"].to_numpy()
ages=DF["age"].to_numpy()
print("Salaries:",salaries)
print("Salary dtype:",salaries.dtype)
print("Salary ndim:",salaries.ndim)
print("Salary shape:",salaries.shape)
print("Salary size:",salaries.size)

print("\nages:",ages)
print("age dtype:",ages.dtype)
print("age ndim:",ages.ndim)
print("age shape:",ages.shape)
print("age size:",ages.size)

Salaries: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
Salary dtype: int32
Salary ndim: 1
Salary shape: (10,)
Salary size: 10

ages: [56 46 32 25 38 56 36 40 28 28]
age dtype: int32
age ndim: 1
age shape: (10,)
age size: 10

### Q2. Using the ```salaries``` array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.
**Solution:**

In [19]:
maximum_salary=np.max(salaries)
minimum_salary=np.min(salaries)
average_salary=np.mean(salaries)
average_age=np.mean(ages)

print("Maximum Salary:",maximum_salary)
print("Minimum Salary:",minimum_salary)
print("Average Salary:",average_salary)
print("Average Age:",average_age)

Maximum Salary: 89735
Minimum Salary: 30769
Average Salary: 57446.9
Average Age: 38.5