### Email Address: ```shahbazkamal84@gmail.com```

In [5]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")
print(DF)

Sample Data Created and Saved as employees.csv
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   89735  Finance
7   8   40   86101       IT
8   9   28   32433    Sales
9  10   28   35311       HR

### Answer to Q1:

In [17]:
salaries=DF["salary"].to_numpy()
ages=DF["age"].to_numpy()
print("Salaries:",salaries)
print("Salary dtype:",salaries.dtype)
print("Salary ndim:",salaries.ndim)
print("Salary shape:",salaries.shape)
print("Salary size:",salaries.size)

print("\nages:",ages)
print("age dtype:",ages.dtype)
print("age ndim:",ages.ndim)
print("age shape:",ages.shape)
print("age size:",ages.size)

Salaries: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
Salary dtype: int32
Salary ndim: 1
Salary shape: (10,)
Salary size: 10

ages: [56 46 32 25 38 56 36 40 28 28]
age dtype: int32
age ndim: 1
age shape: (10,)
age size: 10

### Q2. Using the ```salaries``` array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.
**Solution:**

In [19]:
maximum_salary=np.max(salaries)
minimum_salary=np.min(salaries)
average_salary=np.mean(salaries)
average_age=np.mean(ages)

print("Maximum Salary:",maximum_salary)
print("Minimum Salary:",minimum_salary)
print("Average Salary:",average_salary)
print("Average Age:",average_age)

Maximum Salary: 89735
Minimum Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

### Q3. From the ```ages``` array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

### Solution:

In [22]:
greater_than_30=ages[ages>30]
print("All Ages greater than 30:",greater_than_30)
employees_older_than_30=np.sum(ages>30)
print("Number of employees older than 30:",employees_older_than_30)

All Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7

### **Q4**. Create a new NumPy array that increases every employeeâ€™s age by 5 years (without modifying the original array). Print the new updated ages array.
### **Solution**

In [ ]:
new_age_array=ages+5
print("New Age Array after increasing 5 years:",new_age_array)
print(ages)

New Age Array after reducing 5 years: [61 51 37 30 43 61 41 45 33 33]
[56 46 32 25 38 56 36 40 28 28]

### **Q5**. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.
### **Solution:**

In [30]:
salary_expenses=salaries.sum()
print("Salary Expense:",salary_expenses)
difference=np.max(salaries)-np.min(salaries)
print("Difference between maximum and minimum salary",difference)

Salary Expense: 574469
Difference between maximum and minimum salary 58966

### **Q6.** Load the ```employees.csv``` file into a Pandas DataFrame. Display the first 5 rows, and check basic info using ```info()``` and summary statistics using ```describe()```.
### **Solution:**

In [46]:
import pandas as pd

df = pd.read_csv('employees.csv')
print(df)
print("First Five rows:\n",df.head(5))
print("Basic Info:")
print(df.info())
print("\nSummary Statistics:")
print(df.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   89735  Finance
7   8   40   86101       IT
8   9   28   32433    Sales
9  10   28   35311       HR
First Five rows:
    id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

Summary Statistics:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

###** Q7.** Display only the ```id```, ```age```, and ```salary``` columns. Then show the last 3 rows using ```tail()```.
### **Solution:**

In [53]:
print(df[['id','age','salary']])
print("\nLast three rows:\n",df.tail(3))

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

Last three rows:
    id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

### **Q8.** Filter the DataFrame to show only employees who work in the ```IT``` department. Print the result and show the total number of IT employees.
### **Solution:**

In [57]:
employees_in_IT=df[df['dept']=="IT"]
print("\nEmployees in IT Department:\n",employees_in_IT)
print("\nTotal Number of IT employees:",len(employees_in_IT))

Employees in IT Department:
    id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total Number of IT employees: 3